.page[b-r4s6cn2qox] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-r4s6cn2qox] {
    flex: 1;
}

.sidebar[b-r4s6cn2qox] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

@media (min-width: 641px) {
    .page[b-r4s6cn2qox] {
        flex-direction: row;
    }

    .sidebar[b-r4s6cn2qox] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    article[b-r4s6cn2qox] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
