@page "/"

<PageTitle>Startsida</PageTitle>

<div>
    <h1>Välkommen</h1>
    <h2>Fördelar</h2>
    <p>Razor erbjuder en enkel och intuitiv syntax som gör det lätt att kombinera HTML och C#-kod. Det är perfekt för
        att skapa dynamiska webbapplikationer med servergenererat innehåll. Dessutom är det välintegrerat med ASP.NET,
        vilket gör det smidigt att hantera data och skapa skalbara lösningar. Razor förbättrar också läsbarheten och
        underhållet av koden.</p>

    <h2>Utmaningar</h2>
    <p>En utmaning med Razor är inlärningskurvan för nybörjare som inte är bekanta med både C# och HTML. Dessutom kan
        det ibland vara svårt att felsöka fel i Razor-vyer, särskilt när logik blandas med presentation.</p>
</div>