@page "/"

<PageTitle>Startsida</PageTitle>

<div>
    <h1>Välkommen</h1>
    <h2>Fördelar</h2>
    <p> Utvecklare kan använda C# både på klient- och serversidan, vilket förenklar arbetsflödet och eliminerar behovet
        av JavaScript. Blazor Server möjliggör snabb och effektiv uppdatering av gränssnitt genom SignalR. Dessutom är
        det komponent baserat,använda vilket gör det enkelt att återanvända och underhålla kod.</p>

    <h2>Utmaningar</h2>
    <p>En utmaning med Blazor WebAssembly är att det kan vara långsamt vid initial laddning, särskilt i stora
        applikationer.
        Det begränsade ekosystemet jämfört med JavaScript-ramverk gör att det finns färre bibliotek och community-stöd.</p>
</div>